body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 100%;
  padding: 50px 30px;
}
:root {
  --primary: blue;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: grey;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-position: 100%;
  background-attachment: fixed;
  background-color: black;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
  opacity: 0.85;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li span {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0px 10px 0px 10px;
}

.devName {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li span:hover {
  background: white;
  color: grey;
  border-radius: 15px;
  text-shadow: none;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: blue;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

.card-img-top {
  min-height: 30vh;
  object-fit: cover;
  width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

button {
  background: blue;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

a {
  border-radius: 5px;
  color: rgb(71, 177, 74);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

.contact-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-around;
  align-items: center;
  color: grey;
  transition: all 0.5s;
  text-align: center;
}

.resume {
  text-align: center;
  padding: 20px;
}

.resumedl {
  text-shadow: blue;
  font-size: 25px;
}

.resumedl:hover {
  font-size: 35px;
}

.about {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}

.about img {
  padding: 10px;
  border-radius: 50%;
}

.footer {
  background-color: black;
  width: 100%;
  padding: 10px;
  opacity: 0.85;
  height: 100px;
  position: sticky;
  top: 100%;
}

.footer a:hover {
  background: white;
  color: grey;
  border-radius: 15px;
  text-shadow: none;
}

.navText {
  color: white;
}
